<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:title="#{title}"></title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Cache-Control" content="public"/>
    <!--<meta http-equiv="Cache-Control" content="max-age=3600, proxy-revalidate"/>-->

    <link rel="stylesheet" href="../static/css/main.css"/>
</head>
<body>
    <a th:text="#{main.title.text}"></a>
</body>
</html>